<!doctype html>
<html ng-app="iifyMVP">
  <title>IF IT FITS YOUR MVP</title>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js">
    </script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
  </head>
  <body>
    <div class="container">

      <h1>IIFYM(VP)</h1>
      <div class="main-module" ng-controller="CalorieController as calories">
        <form
          class="calorie_input"
          name="totalCalInput"
          ng-submit="totalCalInput.$valid && calories.setCalories()"
        >Total Calorie Allotment:
          <input
            ng-required="true" type="number" maxlength="20"
            ng-model="totalCals" placeholder="target"
            min="1200" max="99999"
          />
          <input
            type="submit"
            value="next"
            ng-disabled="totalCalInput.$invalid"
          />
        </form>
      </div>

      <h2>MACRO TARGETS</h2>
      <div ng-controller="MacroController as macros">
        <form name="macroForm" ng-submit="macros.macroCalc()">
          <table>
              <tr>
                <td>Protein</td>
                <td><input ng-model="macroProtein" type="number" placeholder=" %" min="0" max="100"/></td>
                <td>{{ gramProtein }}</td>
              </tr>
              <tr>
                <td>Fats</td>
                <td><input ng-model="macroFat" type="number" placeholder=" %" min="0" max="100"/></td>
                <td>{{ gramFat }}</td>
              </tr>
              <tr>
                <td>Carbs</td>
                <td><input ng-model="macroCarb" type="number" placeholder=" %" min="0" max="100"/></td>
                <td>{{ gramCarb }}</td>
              </tr>
          </table>
          <input type="submit" value="Calculate!"/>
        </form>
      </div>

      <h2>WHAT ARE YOU EATING?</h2>
      <div ng-controller="SearchController as search">
        <div class="budget">Remaining Calorie Budget: {{ globalRemain }}</div>
        <form name="searchForm" ng-submit="search.getFoods()">
          <input ng-required="true" type="text" placeholder=" give me food" ng-model="query" />
          <input type="submit" value="search" />
        </form>
        <ol>
          <li ng-repeat="searchItem in searchResults">
            {{ searchItem.name }}
            <div ng-controller="FoodController as food">
              <div ng-show="shown && !error"><input type="button" value="DO WANT" ng-click="food.moreInfo(searchItem.ndbno)" /></div>
              <div ng-show="!shown && !error">{{ foodInfo }}</div>
              <div ng-show="!shown && !error"><input type="button" value="ARE YOU SURE???" ng-click="food.eatTheFoods()"/></div>
            </div>
          </li>
        </ol>
      </div>

      <div ng-view></div>
    </div>
  </body>
</html>
