<!doctype html>
<html ng-app="iifyMVP">
  <head>
    <script   src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js">
    </script>
    <script src="app/app.js"></script>
  </head>
  <body>
    <h1>IIFYMVP</h1>


    <div ng-controller="CalorieController as calories">
      <form
        name="totalCalInput"
        ng-submit="totalCalInput.$valid && calories.macroSplit()"
      >Total Calorie Allotment:
        <input
          ng-required="true" type="number" maxlength="20"
          ng-model="totalCals" placeholder="target"
          min="1200" max="99999"
        />
        <input
          type="submit"
          value="next"
          ng-disabled="totalCalInput.$invalid"
        />
      </form>
      <pre>totalCals = {{ totalCals }}</pre>
    </div>

    <h1>MACROS GO HERE</h1>
    <div ng-controller="MacroController as macros">
      <form name="macroForm" ng-submit="macros.macroCalc()">
        <table>
            <tr>
              <td>Protein</td>
              <td><input ng-model="macroProtein" type="number" placeholder=" %" min="0" max="100"/></td>
              <td>Goal: </td>
              <td>{{ macroProtein }}</td>
              <td>{{ gramProtein }} grams</td>
            </tr>
            <tr>
              <td>Fats</td>
              <td><input ng-model="macroFat" type="number" placeholder=" %" min="0" max="100"/></td>
              <td>Goal: </td>
              <td>{{ macroFat }}</td>
              <td>{{ gramFat }} grams</td>
            </tr>
            <tr>
              <td>Carbs</td>
              <td><input ng-model="macroCarb" type="number" placeholder=" %" min="0" max="100"/></td>
              <td>Goal: </td>
              <td>{{ macroCarb }}</td>
              <td>{{ gramCarb }} grams</td>
            </tr>
        </table>
        <input type="submit" value="next"/>
      </form>
      <pre>{{ test }}</pre>

    </div>

    <div ng-controller="SearchController as search">
      <h1>WHAT ARE YOU EATING?</h1>
      <form name="search">
        <input ng-required="true" type="text" placeholder=" give me food" />
        <input type="submit" value="search"/>
      </form>
    </div>








    <div ng-view></div>
  </body>
</html>
