
* {
  /*border: 1px solid red;*/
}

body {
  margin-left: 20px;
  font-size: 15px;
  font-family: sans-serif;
  width: 80%;
}

h1 {
  font-size: 2em;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: .25em;
}
h2 {
  font-size: 1.5em;
  font-family: sans-serif;;
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.budget {
  font-size: 1.5em;
  margin-top: 0px;
  margin-right: .25em;
  margin-bottom: .25em;
}

ol {
  margin-left: -1em;

}



input {
  /*background-color: white;*/
}
